footer{
background: #5F0629;
line-height:60px;
/*padding-left:calc(50% - 8ex);*/

grid-row: 16/17;

display: grid;
grid-template-columns: repeat(15, 1fr);
grid-template-rows: repeat(20, 1fr);
}

.logo-footer{
background: url("../images/logo.png");
background-position:center;
background-repeat:no-repeat;
background-color: #2E031F;
background-size: 150%;

grid-row: 1/21;
grid-column: 1/16
}