header{
background: #5F0629;
/*padding-left: 20px;*/
/*padding-top:5px;*/
/*border-bottom:1px solid #5F0629;*/

grid-row: 1/2;

display: grid;
grid-template-columns: repeat(15, 1fr);
grid-template-rows: repeat(20, 1fr);

}

.logo {
background: url("../images/logo.png");
background-position:right;
background-repeat:no-repeat;
background-color: #2E031F;
background-size: 150%;

grid-row: 1/21;
grid-column: 1/16
/*height: 80px; */
/*width: 105px; */
/*border-radius: 60px;*/
}