main {
    border: 3px solid black;

    grid-row: 2/16;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#gamebox {
    border: 1px solid midnightblue;

    grid-column: 2/5;
    grid-row: 2/10;

    display: grid;
}

.cell {
    /*Trigger for animating things within it*/
    display: inline-block;

    border: 1px solid darkred;
    border-radius: 15%;
    transition: border 300ms ease-in-out;
}

.cell:hover {
    border: 1px solid plum;
}

.cell.active {
    border: 1px solid purple;
}